<div id = "post">
   <p><i><b><%= post_comment.name %></b> said</i></p>
    <%= post_comment.body %><br><br>
    <small> on <%= post_comment.created_at.strftime("%A, %d %B @ %-l:%M%P") %></small><br><hr>
</div>
