
<% @posts.each do |post| %>
<div class ="post">
<h1><%= link_to post.title,post %> </h1>
    <div class="entry"><%= post.body %></div>
	<div class="byline">
              <p class="meta"><%= post.created_at.strftime("%b %d. %y") %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Someone</a></p>

    </div>
</div>

<% end %>
