<h1>Blog Posts</h1>
<br>
<% @posts.each do |post| %>
<div class ="post">
<h3><%= link_to post.title,post %> </h3>
    <div class="entry"><%= post.body %></div>
	<div class="byline">
              <small><%= post.created_at.strftime("%b %d. %y") %>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= post.admin_user.name %></small>

    </div>
</div>

<% end %>
