<div class = "blog-header"><h1>Contributors</h1></div>
<br>
<div class = "post">
	<ul>	
		<% @users.each do|user| %>
			<p>	
				<span class="large-text"><%= link_to user.name,user %> / <%= user.posts.count %> / </span><span class="small-text">LAST POST / <%= formatted_date user.posts.last&.created_at %> /</span>
			</p>
		<% end %>
</ul>
</div>