<h1>Blog Posts</h1>
<br>
<div class = "post">
<% @posts.each do |post| %>
    <h3><%= link_to post.title,post %> </h3>
    <p><%= post.body %></p>
    <p><small><%= post.created_at.strftime("%b %d. %y") %></small>
	</p>
<hr>

<% end %>
</div>
