/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css" />

body {
	margin: 0;
	padding: 0;
	background: #fafaf8;
	font-family: font-family: 'Poppins', sans-serif;
	color: #6F6F6F;
}

strong {
	color: #3F3F3F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	/*text-transform: uppercase;*/
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #D93544;
	text-shadow: none;

}

h1 {
	font-size: 2em;
	/*text-transform: uppercase;	*/
}

h2 {
	font-size: 2.8em;
	text-transform: uppercase;
}

h3 {
	font-size: 1.6em;
	text-transform: uppercase;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: underline;
	color: #D93544;
}

a:hover {
	text-decoration: none;
}

#wrapper {
	width: 1040px;
	margin: 0 auto;
	padding: 0;
	background: #fafaf8;
	font-family: 'Poppins', sans-serif;
}

/* Header */

#header-wrapper {
	height: 90px;
	font-family: 'Poppins', sans-serif;
}
/**/
#header {
	width: 1040px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background: #fafaf8;
	font-family: 'Poppins', sans-serif;
	box-shadow: none;
	border-bottom: none;
}

/* Logo */

#logo {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #fafaf8;
}

#logo h1, #logo p {
}

#logo h1 {
	margin-left: 30px;
	padding: 5px 0px 0px 0px;
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
	font-family: 'Poppins', sans-serif;
	font-size: 3.8em;
	font-weight: lighter;
	color: #ff7a3e;
}

#logo h1 a {
	color: #ff7a3e;

}

#logo h1 span {
}

#logo p {
	margin: 0;
	padding: 0px 0 0 32px;
	font-family: 'Poppins', sans-serif;
	/*font-style: italic;*/
	color: #2e80d4;
	text-shadow: none;
} 




#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #707070;
}

/* Search */

#search {
	float: right;
	width: 225px;
	height: 60px;
	padding: 0px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 140px;
	height: 19px;
	padding: 4px 5px 1px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font-family: 'Poppins', sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 25px;
	height: 26px;
	border: none;
	background: #ff854d;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
	height: 90px;
	margin: 0 auto;
	padding: 0;
	text-shadow: none;
	/*background: #ff7a3e;*/
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	border-left: 1px solid #fafaf8;
}

#menu a {
	/*display: block;*/
	height: 26px;
	padding: 0px 10px 0px 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	text-align: center;
	/*text-transform: uppercase;*/
	font-family: 'Poppins', sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #ff651f;
	border: none;
	border-radius: 10px 10px 10px 10px;
}

#menu a:hover, #menu .current_page_item a {
	background: #777777;
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 1040px;
	margin: 0 auto;
	padding: 0px 0px 0px 20px;
}

#page-bgtop {
	padding: 20px 0px;
}
/* Content */

#content {
	float: right;
	width: 750px;
	padding: 40px 0px 0px 0px;
}

.blog-header h1 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #ff854d;
	font-size: 2em;
}

.post,.post_full,.page {
	margin-bottom: 30px;
	width:650px;
	padding: 30px 20px 20px 20px;
	background: #FFFFFF;
	/*box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);*/
	outline: 1px dashed #D4D4D4;
	outline-offset: -5px;
	font-family: 'Poppins', sans-serif;
}
	#input[type=text] {
    border: none;
    border-bottom: 2px solid red;
}

.post .title,.page .title {
	height: 41px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
	font-family: 'Poppins', sans-serif;

}

.post .title a, a:link, a:visited,.page .title a {
	text-decoration: none;
	color: #2e80d4;
	border: none;
}

.post .entry {
	padding: 20px 30px 20px 30px;
	/*width: 600;*/
	padding-bottom: 20px;
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	a, a:link, a:visited
}

.read_more {
	padding: 20px 30px 20px 30px;
	padding-bottom: 20px;
	text-align: right;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}

.post .byline {
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
}

.post .meta {
	float: left;
}

.post .links {
	float: right;
}

/* FULL POST */
.post_full .byline p{
    padding:0;
    margin:0;
}

.small-text {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

.large-text {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #2B2522;
	font-size: 1.6em;

}

.post_full .byline{
    clear: both;
	overflow: hidden;
	margin-bottom: 15px;
    padding:5px;
    background:black;
    color:#fff;
    border-left:5px #ff854d solid;
    font-family: 'Poppins', sans-serif;
}

.links a {
	color:#3F3F3F;
	margin: 0;
	padding: 0;
	/*text-transform: uppercase;*/
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-size: 2em;

}

/* Sidebar */

#sidebar {
	float: left;
	width: 250px;
	margin: 0px;
	padding: 20px 20px 0px 0px;
	font-family: 'Poppins', sans-serif;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}

#sidebar li {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 20px;
	font-family: 'Poppins', sans-serif;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #191919;
	margin: 0px 20px 0px 20px;
	border-left: none;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
	font-family: 'Poppins', sans-serif;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
	font-family: 'Poppins', sans-serif;
}

#sidebar h2 {
	height: 31px;
	margin: 0px 0px 5px 0px;
	padding: 10px 0px 0px 20px;
	/*text-shadow: #203060 -1px 1px 2px;*/
	text-align: left;
	text-transform: uppercase;
	letter-spacing: -.5px;
	font-size: 2em;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
	color: #847F7E;
	font-family: 'Poppins', sans-serif;
}

#sidebar a {
	border: none;
	color: #847F7E;
	font-family: 'Poppins', sans-serif;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #847F7E;
	font-family: 'Poppins', sans-serif;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 1040px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: 'Poppins', sans-serif;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #847F7E;
}

#footer a {
	color: #847F7E;
}

form label{width:110px;display:inline-block;}