<div class = "blog-header"><h1>Tidygories</h1></div>
<br>
<div class = "post">
	<ul>	
		<% @categories.each do|category| %>
			<p>	
				<span class="large-text"><%= link_to category.name,category %> / <%= category.posts.count %> / </span><span class="small-text"><%= formatted_date category.posts.last&.created_at %> LAST POST</span>
			</p>
		<% end %>
</ul>
</div>